ansible-navigator:
  execution-environment:
    environment-variables:
      pass:
        - AZURE_CLIENT_ID
        - AZURE_SECRET
        - AZURE_SUBSCRIPTION_ID
        - AZURE_TENANT
      set:
        # Needed because navigator or runner sets the callback with an env var, overriding what's in the cfg.
        ANSIBLE_STDOUT_CALLBACK: yaml
    image: quay.io/aoc/ee-aap-azure-sre
    pull:
      policy: never
    volume-mounts:
      # Paths have to be full
      - src: "/home/{{ ansible_user_id }}/.ansible.cfg"
        dest: "/etc/ansible/ansible.cfg"
  mode: stdout
  playbook-artifact:
    enable: False
